@mixin background {
  background: $home-bg-img;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &:after {
    content: '';
    background: $home-bg-overlay;
    position: fixed;
    height: 100%;
    width: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: $home-bg-opacity;
    z-index: -1;
  }
}
